body {
    background: #fafafa;
    font-family: Arial, sans-serif;
    padding: 40px;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #004f49;
    color: white;
    border-radius: 8px;
    text-decoration: none;
}

a:hover {
    background: #00786f;
}
